*{
    margin:0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width:100%;
    background: #000;
    color:#fff;
    position:relative;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.logo{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: rgb(224, 40, 40);
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 5%;
    
}

.nav-links{
    text-align: right;
    background: rgb(235, 49, 49);
    padding:10px 30px;
    border-bottom-left-radius: 18px;
}
.nav-links ul li{
    list-style: none;
  display: inline-block;
  padding:10px 25px;
  transition: transform 0.5s;
}
.nav-links ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color:#fff;
    font-size:18px;
    
}
.nav-links ul li:hover{
    transform: translateY(-3px);
}
.left-sidebar{
    width:15%;
    height:80%;
    left:0;
    top: 0;
    background: rgb(235, 49, 49);
    border-top-right-radius:35px ;
    border-bottom-right-radius:35px ;
    position: absolute;
    top: 80px;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
    
}
.left-col{
    flex-basis: 35%;
}
.right-col{
    flex-basis: 65%;
}
.left-col img{
    width:300px;
    height:430px;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
    top:20px;
    left:-70px;
    filter: grayscale(0);
    transition:filter 1s;
}
.left-col img:hover{
    filter: grayscale(1);
}
.right-col h1{
    
    font-size: 75px;
    font-weight: 600;
}
.right-col p{
    font-family: 'Poppins', sans-serif;
    font-size:large;
    color: #777;
    margin: 20px 0 70px;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    font-family: 'Poppins', sans-serif;
    background-position: center;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 12px 0;
    color: rgb(235, 49, 49);
    border: 0.5px solid rgb(235, 49, 49);
    position: relative;
    z-index: 1;
    transition: #fff 0.5s;
    font-size: large;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(235, 49, 49);
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width:100%;
}
.banner-btn a:hover {
    color: #fff;
}